html,
body {
    font-family: "Lato", sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    color: black !important;
    font-size: 1rem; /* Adjust base font size */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-content {
    background-color: #ffefcd;
}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Make headings bold */
    font-style: normal;
    padding: 12px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

#note {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 70px;
}

.articles-top-note{
    position: relative;
    max-width: 700px;
    padding: 20px;
    border: 2px solid #614200; /* Border color */
    border-radius: 12px; /* Curved borders */
    background-color: #FFF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    margin: 20px 20px 0 20px;
  }
  
.articles-top-note::before {
    content: "Note"; /* Label text */
    position: absolute;
    top: -14px;
    left: 20px;
    background-color: #fff;
    padding: 0 5px;
    font-weight: bold;
    color: #a97400; /* Same color as border */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-container {
    margin: 0 40px;
    border-radius: 50%;
}

.profile-picture {
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 240px;
    object-fit: cover;
    object-position: left;
    width: 100%; /* Ensures responsiveness */
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    height: 100%;
}

nav ul li {
    display: inline-block;
    -webkit-user-select: none; /* Chrome, Safari, etc. */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    padding: 20px 0;
}

nav ul li:hover {
    background-color: #444;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 24px;
}

img {
    max-width: 100%; /* Makes the image responsive to its container */
    height: auto; /* Maintains aspect ratio with the above */
}

#welcome {
    background-color: #ffffff;
    padding: 40px 0;
    background-image: url("../images/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    overflow-y: auto;
}


#summary {
    font-size: 1em;
    max-width: 600px;
    text-align: justify;
    height: 100%;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 20px;
    margin: 0 10px;
    filter: invert(1);
}

.social-icon:hover {
    filter: invert(0.8);
}

.social-icons a {
    text-decoration: none;
}

.contact-links a {
    text-decoration: none;
    color: #614200;
    margin: 0 6px;
}

#research {
    background-color: #ffefcd;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.publications-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 90vw;
}

.publication {
    border-bottom: 1px solid #2b2b2b24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
}

.publication-left-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    color: #2b2b2b;
}

.publication-title {
    font-size: 1.2em;
    text-align: left;
}

.me {
    color: #a97400 !important;
    font-weight: 800 !important;
}

.authors {
    max-width: 650px;
    text-align: left;
}

.authors a {
    text-decoration: none;
    color: #2b2b2b;
    margin-right: 5px;
    font-size: 1em;
    font-weight: 300;
}

.publication-details {
    text-align: right;
}

.year {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.conference {
    color: white;
    background-color: #a97400;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    text-align: center;
    border-radius: 5px;
    font-size: 0.6em;
    width: 100px;
    padding: 10px;
}

.cv-item-container {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.cv-item-container:last-child {
    margin-bottom: 0;
}

.cv-item {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b2b2b24;
}

.cv-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.cv-item-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-wrap: break-word;
    flex: 4;
}

.cv-item-left h3 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.cv-item-left p {
    font-style: italic;
    font-weight: 800;
    color: #a97400;
    overflow-wrap: break-word;
    text-align: left;
}

.cv-item-right {
    text-align: right;
    font-weight: bold;
    margin: 0 10px;
    flex: 1;
}

.cv-item-left ul {
    padding: 0;
    margin: 0;
}

.cv-item-left ul li {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 0.9em;
    text-align: justify;
    color: #2b2b2b;
    font-weight: 400;
}

.cv-item-left ul li::before {
    content: "\2022"; /* Large dot unicode character */
    display: inline-block;
    margin-right: 0.5em;
    color: #a97400;
}

.cv-pdf-icon {
    width: 40px;
}

.cv-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.article-item {
    background-color: #ffeabd82;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 250px;
    min-width: 200px;
}

.article-item-top img {
    width: 100%;
    height: auto; /* Maintains the aspect ratio */
    max-width: 300px; /* Optional: limits the max width */
    max-height: 200px; /* Optional: limits the max height */
    object-fit: cover; /* Ensures the image fits within the given space without distortion */
}

.article-item-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-wrap: break-word;
    height: 100%;
    padding: 20px;
}

.article-item-bottom p {
    margin-top: 10px;
    text-align: left;
}

.articles-heading-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#filters {
    display: flex;
    align-items: center;
}

#filters p {
    margin-right: 10px;
}

#filters button {
    border: 2px solid black;
    background-color: white;
    margin-right: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

#filters button.selected {
    background: goldenrod;
}

/* Mobile CSS - Bottom */

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
    }

    .container-2 {
        padding-top: 0;
    }

    .profile-picture {
        width: 20rem;
    }

    .profile-container {
        margin: 40px 0;
    }

    #welcome {
        padding: 0 10px;
    }

    #cv {
        padding: 20px 0;
    }

    #research {
        padding: 20px 0;
    }

    .cv-item-right {
        font-size: 0.7em;
    }

    .articles-heading-container {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .articles-top-note {
        padding-top: 16px;
    }


}

.accent {
    color: #d6e0f0; /* Pale blue for light accents */
}

nav ul li a:hover, nav ul li a:focus, .social-icon:hover {
    background-color: #555; /* Darker shade for hover effect */
    transition: background-color 0.3s ease;
}
@media only screen and (max-width: 600px) {
    nav ul li a {
        padding: 30px; /* Larger padding for easier touch */
    }
}


#hero {
    background: url('images/achievement-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 40px 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.photo-grid img:hover {
    transform: scale(1.1);
}


.note-list {
    font-size: 0.9em;
    padding-left: 20px;
    text-align: left; /* Left-align the list itself */
  }
  
  .note-list li{
      margin-bottom: 5px;
  }